@import './element-ui.scss';
@import './avue.scss';
html {
    // zoom: 1.5
     ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    /*外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果*/
     ::-webkit-scrollbar-track {
        width: 6px;
        background-color: rgba(255, 255, 255, 0.1);
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
    }
    /*滚动条的设置*/
     ::-webkit-scrollbar-thumb {
        background-color: rgba(48, 197, 202, 1);
        background-clip: padding-box;
        min-height: 28px;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
    }
    /*滚动条移上去的背景*/
     ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(48, 197, 202, 1);
    }
}

body {
    font-size: 14px;
}

.cesium-widget {
    canvas {
        // zoom: 75%;
    }
}

//地图爆炸模拟样式
.whpys-left,
.wypys-panel,
.whpys-right {
    z-index: 998;
}

.whpys-left,
.whpys-right {
    top: 50px;
    bottom: 5px;
    background: rgba(0, 0, 0, .9);
}

.whpys-left {
    left: 20px!important;
}

.whpys-right {
    right: 20px!important;
}

.wypys-panel {
    bottom: 25px!important;
    background: rgba(0, 0, 0, .9);
}

.yingji-dialog {
    font-size: 14px;
}
.el-scrollbar{
    border: 1px solid rgba(50, 253, 246, .6);
    background-color: rgba(15, 75, 99, 0.7);
    .el-autocomplete-suggestion__wrap{
        // background: rgba(50,253,246,0.6);
        .el-scrollbar__view{
            // background: rgba(50,253,246,0.6);
        }  
    }
}